@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
  }

  .first_li {
    white-space: nowrap;
  }

  .li {
    white-space: nowrap;
  }

  .upper_h2 {
    margin-left: 800px;
  }

  .star {
    margin-left: 425px;
  }

  .bar_p {
    white-space: nowrap;
  }

  .p_2022 {
    white-space: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
  }

  .upper_h2 {
    margin-left: 620px;
    font-size: 28px;
  }

  h2 {
    font-size: 90px;
  }

  .star {
    margin-left: 90px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
  }

  ul {
    display: block;
  }

  a {
    margin-left: 2px;
  }

  .li {
    margin-left: 0px;
  }

  .upper_h2 {
    margin-left: 445px;
    font-size: 25px;
  }

  .p_2022 {
    margin-left: 0px;
  }

  h2 {
    font-size: 70px;
    margin-top: -15px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 400px;
    padding: 0 15px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .menu {
    display: block;
  }
  
  li {
    font-size: 12px;
  }

  h2 {
    font-size: 32px;
    margin-top: -4px;
    margin-left: -30px;
  }

  .upper_h2 {
    font-size: 20px;
    margin-left: 180px;
    margin-top: 50px;
  }

  .under_h2 {
    display: block;
  }

  .front_p {
    margin-left: 40px;
    margin-top: 40px;
    width: 230px;
    font-size: 12px;
  }

  .star {
    margin-left: 110px;
  }

  .bar_p,
  .p_2022,
  .portfolio_p {
    font-size: 10px;
    margin-top: 150px;
  }

  .p_2022 {
    margin-top: 163px;
    margin-left: 0px;
  }
}
